
.App {
  width: 80%;
  /* background-color: red; */
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-top: 36px;
}

.control {
  margin-top: 46px;
}

.search {
  width: 40%;
  float: left;
}

.btn-add {
  float: left;
  width: 55%;
  margin-left: 5%;
}

/* ---------Form------ */
.form {
  float: left;
  width: 55%;
  margin-left: 45%;
}

.form-name {
  float: left;
  width: 50%;
}

.select {
  float: left;
  width: 21%;
  margin-left: 4%;
}

.btn-submit {
  margin-left: 2.5%;
}

.list {
  /* margin-top: 14%; */
}

.table-text {
  text-align: center;
}

/* .text-task {
  text-align: left;
} */